@charset "UTF-8";
/* 
	Mobile First Development
	mobile 360 (320)
	tablet 768 (728)
	pc 1920 (1280)
 */
 
/* skipnav */
.skipnav a {position:absolute;left:-3000%;}
.skipnav a:focus {display:block;left:0;top:0;z-index:1000000000;width:100%;height:30px;line-height:30px;background:#d31045;color:#fff;text-align:center;}

/* Default */
/* :lang(ko) {}
:lang(en) {} */
html {font-size:62.5%;}
body, button, input, select, table, textarea {font-family:KelloggsSans, 'Nanum Gothic', sans-serif;font-weight:400;}
.blind {position:absolute;overflow:hidden;clip: rect(0 0 0 0);margin:-1px;width:1px;height:1px;}


/* icon */
.search_btn {border:0;background:none;font-size:1.6rem;}
.search_btn .fa-circle {color:#d3d4d5;font-size:3.2rem;}
.search_btn .fa-search {color:#b51946;font-size:1.6rem;}
.icon {}
.icon::before {display:inline-block;font-style:normal;font-family:'돋움', sans-serif;-webkit-font-smoothing: antialiased;}
.times::before {content: "\f00d";}
/* unicode-range */

.icon_area {margin:20px 0}
.icon_area .title {margin:20px 0 5px 0;font-size:20px;font-weight:bold;}
.icon_area .icon_cnt {font-size:1.6rem;}

/* css3 */
.css3 {color:#333;}
.css3 .menu_default {overflow:hidden;display:inline-block;height:18px;}
.css3 .hamburger_menu {
	display:inline-block;
 	-webkit-transform: scale(.8);
	transform: scale(.8);
	
}/* burger-icon */
.css3 .hamburger_menu i {
	display:block;width:18px;height:2px;background:#333;
	-webkit-transition: -webkit-transform 1s cubic-bezier(.19, 1, .22, 1) .5s;
	transition: -webkit-transform 1s cubic-bezier(.19, 1, .22, 1) .5s;
	transition: transform 1s cubic-bezier(.19, 1, .22, 1) .5s;
	transition: transform 1s cubic-bezier(.19, 1, .22, 1) .5s, -webkit-transform 1s cubic-bezier(.19, 1, .22, 1) .5s;
	will-change: transform;
}
.css3 .hamburger_menu i:first-child {
	-webkit-transition-delay: .6s;
	transition-delay: .6s;
}
.css3 .hamburger_menu i:nth-child(2) {
	-webkit-transition-delay: .55s;
	transition-delay: .55s;
}
.css3 .hamburger_menu i:nth-child(3) {
	-webkit-transition-delay: .5s;
	transition-delay: .5s;
}

.css3 .hamburger_menu.before i {
	-webkit-transition-timing-function: cubic-bezier(.23, 1, .32, 1);
	transition-timing-function: cubic-bezier(.23, 1, .32, 1);
}
.css3 .hamburger_menu.before i:nth-child(1) {
	-webkit-transform: translateY(-50px);
	transform: translateY(-50px);
	-webkit-transition-delay: 0ms;
	transition-delay: 0ms;
}
.css3 .hamburger_menu.before i:nth-child(2) {
	-webkit-transform: translateY(-45px);
	transform: translateY(-45px);
	-webkit-transition-delay: 50ms;
	transition-delay: 50ms;
}
.css3 .hamburger_menu.before i:nth-child(3) {
	-webkit-transform: translateY(-40px);
	transform: translateY(-40px);
	-webkit-transition-delay: .1s;
	transition-delay: .1s;
}

.css3 .hamburger_menu.active i {
	-webkit-transition: -webkit-transform 1s cubic-bezier(.19, 1, .22, 1) 0ms;
	transition: -webkit-transform 1s cubic-bezier(.19, 1, .22, 1) 0ms;
	transition: transform 1s cubic-bezier(.19, 1, .22, 1) 0ms;
	transition: transform 1s cubic-bezier(.19, 1, .22, 1) 0ms, -webkit-transform 1s cubic-bezier(.19, 1, .22, 1) 0ms;
}
.css3 .hamburger_menu.active i:nth-child(1) {
	-webkit-transform: translateY(-40px);
	transform: translateY(-40px);
	-webkit-transition-delay: 0ms;
	transition-delay: 0ms;
}
.css3 .hamburger_menu.active i:nth-child(2) {
	-webkit-transform: translateY(-45px);
	transform: translateY(-45px);
	-webkit-transition-delay: 50ms;
	transition-delay: 50ms;
}
.css3 .hamburger_menu.active i:nth-child(3) {
	-webkit-transform: translateY(-50px);
	transform: translateY(-50px);
	-webkit-transition-delay: .1s;
	transition-delay: .1s;
}


.css3 .hamburger_menu i:not(:last-child) {margin-bottom:3px;}
.css3 .line {}

.css3 .menu_close {display:inline-block;position:relative;width:18px;height:18px;}
.css3 .menu_close .close_x {
	-webkit-transition: -webkit-transform .5s cubic-bezier(.19, 1, .22, 1) .35s;
	transition: -webkit-transform .5s cubic-bezier(.19, 1, .22, 1) .35s;
	transition: transform .5s cubic-bezier(.19, 1, .22, 1) .35s;
	transition: transform .5s cubic-bezier(.19, 1, .22, 1) .35s, -webkit-transform .5s cubic-bezier(.19, 1, .22, 1) .35s;
	position: absolute;
	display: block;
	left: calc(50% - 7px);
	top: calc(50% - 9px);
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
	width: 18px;
	height: 18px;
	
}
.css3 .menu_close .close_x i {
	-webkit-transition: -webkit-transform .4s cubic-bezier(.47, 0, .745, .715) 0ms;
	transition: -webkit-transform .4s cubic-bezier(.47, 0, .745, .715) 0ms;
	transition: transform .4s cubic-bezier(.47, 0, .745, .715) 0ms;
	transition: transform .4s cubic-bezier(.47, 0, .745, .715) 0ms, -webkit-transform .4s cubic-bezier(.47, 0, .745, .715) 0ms;
	will-change: transform;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -1px 0 0 -13px;
	width: 20px;
	height:2px;
	-webkit-transform: rotate(0);
	transform: rotate(0);
	background:#333;
	display: block;
	
}
.css3 .menu_close .close_x.before i {
	
}
.css3 .menu_close .close_x.before i:nth-child(1) {
	
}
.css3 .menu_close .close_x.before i:nth-child(2) {}

.css3 .menu_close .close_x.active {
	-webkit-transition: -webkit-transform .4s cubic-bezier(.47, 0, .745, .715) .2s;
	transition: -webkit-transform .4s cubic-bezier(.47, 0, .745, .715) .2s;
	transition: transform .4s cubic-bezier(.47, 0, .745, .715) .2s;
	transition: transform .4s cubic-bezier(.47, 0, .745, .715) .2s, -webkit-transform .4s cubic-bezier(.47, 0, .745, .715) .2s;
	opacity: 1;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
.css3 .menu_close .close_x.active i {
	-webkit-transition: -webkit-transform .6s cubic-bezier(.19, 1, .22, 1) .55s;
	transition: -webkit-transform .6s cubic-bezier(.19, 1, .22, 1) .55s;
	transition: transform .6s cubic-bezier(.19, 1, .22, 1) .55s;
	transition: transform .6s cubic-bezier(.19, 1, .22, 1) .55s, -webkit-transform .6s cubic-bezier(.19, 1, .22, 1) .55s;
}
.css3 .menu_close .close_x.active i:nth-child(1) {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.css3 .menu_close .close_x.active i:nth-child(2) {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}



.css3 .close_circle {}
.css3 .slash {}
.css3 .slash_reverse {}
.css3 .arrow_up {}
.css3 .arrow_down {}
.css3 .arrow_right {}
.css3 .arrow_left {}
.css3 .add {}
.css3 .check {}
.css3 .play_circle {}


/* entity */
.entity i::before {font-size:2rem;font-family:Verdana,sans-serif;}
.entity .menu::before {content:"\2261"}
.entity .line::before {content:"\2015"}
.entity .x::before {content:"\2716"}
.entity .slash::before {content:"\2044"}
.entity .slash_reverse::before {content:"\002F"}
.entity .arrow_up::before {content:""}
.entity .arrow_down::before {content:""}
.entity .arrow_right::before {content:"\276F"}/* 203A */
.entity .arrow_left::before {content:"\276E"}
.entity .add::before {content:"\002B"}
.entity .plus::before {content:"\271A"}
.entity .check::before {content:"\2713"}
.entity .bullet::before {content:"\2022"}
.entity .bullet2::before {content:"\2027"}
.entity .arrow_upward::before {content:"\2192"}
.entity .arrow_upward_bar::before {content:"\21A5"}
.entity .single_turned_comma::before {content:"\275B"}
.entity .double_turned_comma::before {content:"\275D"}
{}






/* header */
#header {padding:15px 20px;}


/* Horizontal Mobile Device */
@media (min-width:576px){
	
}
/* Tablet Device */
@media (min-width: 768px) {
	#header {padding:10px 20px;}	
}
@media (min-width: 992px) {}

/* Desktop */
@media (min-width: 1200px) {
	#header {padding:10px 0 0 50px;}
	#container {padding:0 50px;}
}



